
.login-container-inner{
    max-width: 800px;
    margin: 0 auto;
}

.register-section-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.auth-button-container {
    display: flex;
    justify-content: center;
}

.register-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-container-inner{
    max-width: 800px;
    margin: 30px auto;
}

.register-subItem-checklist-container {
    min-width: 100%;
    background-color: firebrick;
}

.login-theme-button {
    margin-bottom: -20px;
    margin-top: 15px;
    margin-left: 10px;
}

.register-link {
    font-weight: bold;
    cursor: pointer;
}

.register-link:hover {
   color: #8C4A4A !important;
}
