.navlogo {
  width: 30px;
  animation: rotate 12s infinite linear;
}

.nav-drawer-header-logo {
    width: 150px;
    margin-right: 17px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
