.navlogo {
  width: 30px;
  animation: rotate 12s infinite linear;
}

.nav-drawer-header-logo {
  width: 150px;
  margin-right: 17px;
}

.css-zispzx-MuiList-root,
.css-1r9jet7,
.css-cwerg2-MuiListItem-root,
.css-wlnzx3-MuiListItem-root,
.css-1egya4n-MuiListItem-root {
  background-color: var(--nav-bar);
}

.css-9mgopn-MuiDivider-root {
  background-color: var(--nav-bar-divider);
}
