body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, #root {
  /* background-color: rgb(136, 138, 138); */
}

.appviews {
    margin-left: 56px;
}
.appviews-small {
    margin-top: 56px;
}

.MuiBox-root .css-zxdg2z {
    display: none;
}
