.post-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.post-card-header-left {
  display: flex;
  gap: 8px;
  align-items: center;
}
.post-card-header-left-skeleton {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

.post-card-skeleton {
  height: 200px;
}
.post-card-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.post-card-footer-right {
  display: flex;
  align-items: center;
}

.post-submit-button-container {
  display: flex;
  justify-content: end;
  margin: 10px 0px;
}

.divider-header-container {
  margin-bottom: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-card {
  margin-bottom: 20px;
}