.additional-photo {
  width: 125px;
  height: 125px;
  transition: all 0.3s linear;
  object-fit: cover;
}

.additional-photo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.photoItem {
  position: relative;
  line-height: 0;
  width: 125px;
  height: 125px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
}

.additional-pictures-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.deletePic-X {
  position: absolute;
  top: 2px;
  right: 2px;
  color: white;
}

.deletePic-X:hover {
  transition: all 0.2s;
  color: rgb(220, 84, 84);
  z-index: 200;
}

.popup-media {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.536);
}

.popup-photoItem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  max-width: 95%;
  max-height: 95%;
  object-fit: contain;
  border: 3px solid #fff;
}

.popup-media span {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 50px;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
  color: #fff;
  user-select: none;
}

.popup-media span:hover {
  transition: all 0.2s;
  color: #b6b6b6;
 
}
