.messagesMain-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.messageSearchBar-parent {
    position: relative;
    max-width: 800px;
    margin: 0px auto 60px auto;
}

.messageSearchBar-list {
    position: absolute;
    top: 56px;
    background-color: rgb(119, 117, 117);
    min-width: 100%;
    max-height: 200px;
    overflow: auto;
    border-radius: 4px;
    z-index: 1000;
}

.messageSearchBar-list .css-1p823my-MuiListItem-root {
  opacity: 1 !important;
}

.messageSearchBar-list .css-1p823my-MuiListItem-root:hover {
      background-color: rgb(86, 72, 72);
      cursor: pointer;
}