.feedPost-avatar:hover {
  cursor: pointer;
}

.feedPost-name:hover {
  cursor: pointer;
}

.feed-post-card {
  margin: 0px auto 20px auto;
}

.feed-container {
  /* max-width: 1000px; */
  animation: fadein-profile 0.5s ease-in;
}

.feedSettingsLink {
  text-decoration: underline;
  font-weight: bold;
}

.feedSettingsLink:hover {
  cursor: pointer;
  color: rgb(80, 80, 80);
  transition: all 0.2s;
}

.feed-post-card-skeleton {
  height: 168px;
}

.feed-settings-icon {
  position: absolute;
  top: 0;
  right: 0px;
  margin-top: -5px;
}
