.feedSettingsItem-container {
  display: flex;
  justify-content: space-between;
}

.blockedAccount-avatar {
  width: 56px;
  height: 56px;
}
.settings-section {
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 2em;
  margin: 20px 0px;
  animation: fadein-profile 0.5s ease-in;
}

.deleteaccount-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
}

.css-y3snhx, .css-61rpbf, .css-78ki4w, .css-1c254s2 {
background-color: var(--settings-background);
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.204);
}