.profile-left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 2em;
  margin: 20px 10px 10px 10px;
  position: relative;
}

.single-profile-pic {
  object-fit: cover;
}

.socialmedia-icon {
  width: 20px;
}

.socialmedia-icons-container {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.chip-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1.3em;
}

.chip-multi-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-right-section-item {
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  padding: 2em;
  margin: 20px 10px 20px 10px;
}

.profile-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-subgenres-header {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.editPrimaryInfo-button {
  margin-top: 30px;
}

.otherProfile-buttonGroup {
  margin-top: 30px;
}

.myProfilePicture-container {
  position: relative;
}

.editProfilePic-button {
  position: absolute;
  top: -20px;
  right: -20px;
}

.photoItem-primary {
  position: relative;
  line-height: 0;
  width: 125px;
  height: 125px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50%;
    border: 2px solid rgba(97, 97, 97, 0.627);

}

.profilePic {
  width: 125px;
  height: 125px;
  transition: all 0.3s linear;
  object-fit: cover;
  border-radius: 50%;
}

.profilePic:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.profile-moreOptions {
  position: absolute;
  top: 10px;
  right: 5px;
}

.profileName-adminContainer {
  display: flex;
  align-items: center;
  gap: 3px;
}

.profile-container-all {
  animation: fadein-profile 0.5s ease-in;
}
