.profile-left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  padding: 2em;
}

.single-profile-pic {
  object-fit: cover;
}

.socialmedia-icon {
  width: 20px;
}

.socialmedia-icons-container {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.chip-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1.3em;
}

.chip-multi-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-right-section-item {
  border: 2px solid black;
  border-radius: 4px;
  padding: 2em;
}

.profile-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags-subgenres-header {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.editPrimaryInfo-button {
  margin-top: 30px;
}

.myProfilePicture-container {
  position: relative;
}

.editProfilePic-button {
  position: absolute;
  top: -20px;
  right: -20px;
}
