.homeSearchBar-parent {
    position: relative;
    max-width: 800px;
    margin: 0px auto 60px auto;
}

.homeSearchBar-list {
    position: absolute;
    top: 56px;
    background-color: rgb(119, 117, 117);
    min-width: 100%;
    max-height: 400px;
    overflow: auto;
    border-radius: 4px;
    z-index: 1000;
}

.homeSearchBar-list .css-1p823my-MuiListItem-root {
  opacity: 1 !important;
}

.homeSearchBar-list .css-1p823my-MuiListItem-root:hover {
      background-color: rgb(86, 72, 72);
      cursor: pointer;
}