.pagination-allprofiles-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.allProfilesContainer-all {
  margin: 20px 0px;
  animation: fadein-profile 0.5s ease-in;
}

.allprofiles-card {
  border: 1px solid rgba(0, 0, 0, 0.24);
  margin-top: 10px;
  border-radius: 4px;
  background-color: var(--allprofile-card-var1);
  padding: 10px;
}

.allprofiles-card-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
    border: 1px solid rgba(97, 97, 97, 0.627);

}

.allprofile-card-flexstack {
  display: flex;
  flex-direction: column;
}

.allprofile-card-flexstack-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
}

.allprofile-card-flexstack-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
}

.allprofiles-noresults {
  display: flex;
  justify-content: center;
  margin: 3em 0;
}
