.pagination-allprofiles-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.allProfilesContainer-all {
  margin: 20px 0px;
  animation: fadein-profile 0.5s ease-in;
}

.allprofiles-card {
  border: 1px solid rgba(0, 0, 0, 0.24);
  margin-top: 10px;
  border-radius: 4px;
  background-color: var(--allprofile-card-var1);
  padding: 10px;
}

.allprofiles-card-small {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1), 0px 6px 10px 0px rgba(0, 0, 0, 0.08), 0px 1px 12px 0px rgba(0, 0, 0, 0.06);
}

.allprofiles-card-small-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.allprofiles-card-small-left {
 display: flex;
  align-items: center;
  gap: 15px;
}


.allprofiles-card-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(97, 97, 97, 0.627);
}

.allprofiles-card-image-small {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(97, 97, 97, 0.627);
}

.allprofile-card-flexstack {
  display: flex;
  flex-direction: column;
}

.allprofile-card-flexstack-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
}

.allprofile-card-flexstack-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
}

.allprofiles-noresults {
  display: flex;
  justify-content: center;
  margin: 3em 0;
}
