.pagination-allprofiles-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.allProfilesContainer-all {
  margin: 20px 0px;
}

.allprofiles-card {
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 4px;
  /* background-color: rgb(124, 122, 122); */
  padding: 10px;
}

.allprofiles-card-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  
}

.allprofile-card-flexstack {
  display: flex;
  flex-direction: column;
}

.allprofile-card-flexstack-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
}

.allprofile-card-flexstack-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 100%;
}

.allprofiles-noresults {
    display: flex;
    justify-content: center;
    margin: 3em 0;
}
