.lightmode {
  --post-background:  rgb(205, 204, 204);
  --comment-background: rgb(210, 210, 210);
  --search-list: #e3e3e3;
  --search-list-hover: #dadada;
  --search-list-active: #a1a3a3;
  --search-list-border: #9e9e9e;
  /* --nav-bar: #ddcbcb;
  --nav-bar-divider: rgb(111, 71, 71); */
  --allprofile-card-var1: rgb(205, 204, 204);
  --allprofile-card-var2: rgb(176, 176, 176);
  --messages-sidebar: #cdcccc;
  --messagesNewTextField: #e3e3e3;
  --messagePrimary: rgb(205, 204, 204);
  --messageSecondary: rgb(176, 176, 176);
  --: #1a1a1a;
}

.darkmode {
  --post-background: #141414;
  --comment-background: #181818;
  --search-list: #2f2f2f;
  --search-list-hover: #3f3f3f;
  --search-list-active: #3e3333;
  --search-list-border: #a7a7a7;
  --nav-bar: #141414;
  --nav-bar-divider: rgb(111, 71, 71);
  --allprofile-card-var1: #2f2f2f;
  --allprofile-card-var2: #272727;
  --messages-sidebar: #1e1e1e;
  --messagesNewTextField: #313131;
  --messagePrimary: #121212;
  --messageSecondary: #181818;
  --messageDivider: #1a1a1a;
}
